$blue: #009;
$red: #a00;
$green:#090;
$darkCharcoal: #333;
$lightgray: #D3D3D3;
$white: #fff;
$snow: #f9f9f9;

/*Light Mode*/

$light-Bg:#F8F6F4;
$light-Panel-Bg:  #F7F7F7;
$light-PanelText: #F7F7F7;
$light-h1-color: #5C469C;
$light-h2-color: #E9B4D4;
$light-p-color: #1D267D;;

/*Dark Mode*/

$dark-Bg: rgba(0, 0, 15, 0.95);
$darkPanel-Bg: #F7F7F7;
$darkPanelText:#29262E;
$dark-h1-color: rgba(142, 5, 194, 0.9);
$dark-h2-color:#E9B4D4;
$dark-p-color:#D09CFA;