.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.125rem;
  background-color: $darkCharcoal;
  color: $white;
}

.navbar-brand {
  font-size: 1.5em;
  margin-left: 1rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 1rem;
}

.dropbtn {
  background-color: $darkCharcoal;
  color: $white;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: $snow;
  min-width: 15.625rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown__content a {
  color: $darkCharcoal;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}
.dropdown__items {
  color: $darkCharcoal;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.dropdown__items:hover {
  background-color: $lightgray;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.dropdown2:hover .dropdown__content {
  display: block;
}

.dropdown--logos {
  display: flex;
  gap: 0.75rem;
}

.dropdown__socials a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

.dropdown__logo-img {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  margin: 0 0.5rem;
}

.hamburger__logo {
  width: 1.2rem;
  height: 1.2rem;
}

.hamburger {
  display: none;
}

.showHam {
  display: block;
}

.sideMenu {
  position: absolute;
  background: $lightgray;
  top: 0;
  right: 0;
  width: 60%;
  margin-top: 3.125rem;
}
.dropdown2 {
  width: 100%;
  height: 3.125rem;
}
.dropdown2 button {
  width: 100%;
  height: 100%;
}

.dropdown__socials {
  display: block;
}

.dropdown-responsive {
  display: none;
}

@media only screen and (max-width: 720px) {
  .navbar-brand {
    font-size: 0.95rem;
  }
  .navbar-right {
    margin-right: 0rem;
  }
  .hamburger {
    display: block;
    padding: 1rem;
  }
  .dropdown__socials {
    display: none;
  }

  .navbar-right .dropdown {
    display: none;
  }

  .navbar-right .dropdown-responsive {
    display: block;
  }
}
