.profile-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 40%;
}


.profile-text {
  margin: 1.7% 10%;
  
}
p{
  margin-bottom: 0;
}
.profile{
  min-height: calc(100vh - 160px);
}
//Commands for Body Page
@media only screen and (max-width: 720px) {
  .body-head {
    font-size: 2rem !important;
  }
  .body-text {
    margin-top: 6rem;
  }
}
